# Ignore Python and OS bytecode files
**/__pycache__/
*.pyc
*.pyo
**/.DS_Store
desktop.ini
autorun.ini

# Ignore app directories
/logs/
/media/
/staticfiles/
/imports/
/.backups/
/venv/
/.venv/
/dist/
*.egg-info/
/build/
/scratch/
.pytest*/
.ruff_cache/
/.neonloc/

# Ignore celery-related files
celerybeat-*

# Ignore Sensetive Secrets
.env
.key
.secrets/
.xpose/
.agents
.claude
.codex
db.sqlite3
*plan.md